In [1]:
countries = ["Atlanta", "Baltimore",  "Chicago",  "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

1 Appending values in list

In [3]:
countries = countries + [ "Los Angeles", "Seattle" ]

In [4]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [5]:
large_countries_list = countries + ["new york"]

In [6]:
large_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

In [7]:
type(large_countries_list)

list

In [8]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [9]:
countries .append("new york")# for adding

In [10]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

In [11]:
countries.insert(0, "pakistan")# for wanted place

In [12]:
countries

['pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

slicing

In [13]:
slicedlist = countries[1:4]# 1 2 3 4 -> 1(include) 4/last(not include)

In [14]:
countries[1:4]

['Atlanta', 'Baltimore', 'Chicago']

In [15]:
slicedlist = countries

In [16]:
slicedlist

['pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

In [17]:
#-1 -2 -3
slicedlist = countries[-3:]

In [18]:
slicedlist

['Los Angeles', 'Seattle', 'new york']

In [19]:
bio_data = ["muhammad", "muzammil", 18, 40.5, False, "1234-12544-5"]

In [20]:
bio_data

['muhammad', 'muzammil', 18, 40.5, False, '1234-12544-5']

1.2 deleting list

In [21]:
bio_data

['muhammad', 'muzammil', 18, 40.5, False, '1234-12544-5']

In [22]:
del bio_data[5]

In [23]:
bio_data

['muhammad', 'muzammil', 18, 40.5, False]

In [24]:
bio_data.remove("muzammil")

In [25]:
bio_data

['muhammad', 18, 40.5, False]

In [26]:
bio_data.remove("ali")

ValueError: list.remove(x): x not in list

1.2.1 popping elements from list

In [29]:
daily_tasks = ["email Frank", "call Sarah", "meet withZach"]

In [27]:
task_completed = []

In [30]:
daily_tasks.pop(1) # for deleting specific term

'call Sarah'

In [31]:
daily_tasks

['email Frank', 'meet withZach']

In [32]:
daily_task = ["qasim", 654, "hassan" ]

In [33]:
completed = []

In [36]:
completed.insert(0, daily_task.pop())# agar insert ka func istemal kre to specific jagah pr hoga

In [35]:
completed

['hassan']

In [37]:
countries

['pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'new york']

1.3 tuple (cant change)

In [38]:
tuple_bio = ("qasim", 654, "hassan")

In [39]:
type(tuple_bio)

tuple

In [40]:
tuple_bio[1]

654

In [41]:
tuple_bio.count("qasim")

1

In [42]:
tuple[1:]

tuple[slice(1, None, None)]

In [43]:
tuple_bio[1:]

(654, 'hassan')

In [44]:
tuple_bio.index("hassan")# indux no wise batayega

2

for loops

In [7]:
countries = ['Pakistan', 'Turkey', 'Azerbaijan', 'China']

In [8]:
for temp in countries:
    print(temp)

Pakistan
Turkey
Azerbaijan
China

In [9]:
for temp in [1600 , 1700 , 1800 , 1900 , 2000]:
    print(temp)
    print("loop cycle end")

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end
2000
loop cycle end

In [14]:
for temp in countries:
    if temp == "Pakistan":
        print("present in the list of countries.")
        break
    else:
        print("Not present in the of countries.")
        break

present in the list of countries.

In [1]:
# left to right
#    0           1          2            3
['Pakistan', 'Turkey', 'Azerbaijan', 'China']
# right to left
#    -4         -3           -2        -1

['Pakistan', 'Turkey', 'Azerbaijan', 'China']

In [15]:
for temp in range(2, 6):
    print(f"table of {temp}")
    for temp_2 in range(1, 11):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [16]:
table_start = int(input("Want to print Table from: "))
table_end = int(input("Want to print Table till: "))
table_length = int(input("How many time you want to print: "))

for temp in range(table_start, table_end):
    print(f"table of {temp}")
    for temp_2 in range(1, table_length+1):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

Want to print Table from: 2
Want to print Table till: 7
How many time you want to print: 5
table of 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
table of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
table of 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
table of 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
table of 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30

In [18]:
name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")

print("**********SAYLANI (SMIT)***********")
print(f"NAME: {name}")
print(f"FATHER NAME: {father_name}")
print(f"CNIC: {cnic}")
print(f"COURSE: {course}")
print("************************************")

Enter your name: Muhammad Muzammil
Enter your Father name: Muhammad Sohail
Enter your CNIC number: 123456789
In which course you're enrolled: Python Programming
**********SAYLANI (SMIT)***********
NAME: Muhammad Muzammil
FATHER NAME: Muhammad Sohail
CNIC: 123456789
COURSE: Python Programming
************************************

In [19]:
name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")

print("**********SAYLANI (SMIT)***********")
print("NAME: {0} {1}".format(name, father_name))
print("FATHER NAME: {0}".format(father_name))
print("CNIC: {0}".format(cnic))
print("COURSE: {0}".format(course))
print("************************************")

Enter your name: MUHAMMAD MUZAMMIL
Enter your Father name: MUHAMMAD SOHAIL
Enter your CNIC number: 123456789
In which course you're enrolled: 9 to 11
**********SAYLANI (SMIT)***********
NAME: MUHAMMAD MUZAMMIL MUHAMMAD SOHAIL
FATHER NAME: MUHAMMAD SOHAIL
CNIC: 123456789
COURSE: 9 to 11
************************************

In [21]:
# single print is used
# \n for next line
# \ for line continue

name = input("Enter your name: ")
father_name = input("Enter your Father name: ")
cnic = int(input("Enter your CNIC number: "))
course = input("In which course you're enrolled: ")
print(f"**********SAYLANI (SMIT)***********\n NAME : {name} \n FATHER NAME : \
{father_name} \n ID : {cnic} \n COURSE : {course} \
\n***********************************" )

Enter your name: MUHAMMAD MUZAMMIL
Enter your Father name: MUHAMMAD SOHAIL
Enter your CNIC number: 123456789
In which course you're enrolled: 9 to 11
**********SAYLANI (SMIT)***********
 NAME : MUHAMMAD MUZAMMIL
 FATHER NAME : MUHAMMAD SOHAIL
 ID : 123456789
 COURSE : 9 to 11
***********************************

In [23]:
["MUHAMMAD MUZAMMIL", "MUHAMMAD SOHAIL", 50, 20]

['MUHAMMAD MUZAMMIL', 'MUHAMMAD SOHAIL', 50, 20]

In [ ]:
key --> value
name --> MUHAMMAD MUZAMMIL
fath_name --> MUHAMMAD SOHAIL
weight ---> 50
age --> 20