1 Variables

PYTHON

In [ ]:
 age = 12

In [6]:
weight = 55

In [7]:
print(age + weight)

67

In [9]:
str(weight) + "kg"

'55kg'

In [10]:
weight

55

In [11]:
pakistan = 154

In [12]:
saudia = 445

In [13]:
print(pakistan * saudia)

68530

2 Maths Expressions;Python Familier

In [14]:
6.5/3

2.1666666666666665

In [15]:
6.5//3

2.0

In [16]:
3*5

15

In [18]:
3**5

243

In [19]:
2*3

6

In [22]:
2**3 # **=SQUARE

8

3 MATHEMATICS EXPRESSIONS

In [23]:
age

12

In [24]:
age += 23

In [25]:
print(age)

35

In [26]:
age -=23

In [27]:
print(age)

12

4 MATHS EXPRESSIONS: ELIMINATING AMBIGUITY
. BODMAS

In [28]:
1 + (2 - 10)

-7

In [3]:
65*(223/333)+333

376.5285285285285